{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Евгений Казаков</h1>
  <div class="row">
  <div class="col-12 col-md-3">
  <img src="{% static 'img/photo.png' %}" class="rounded float-right"
       alt="фото Евгений Казаков">
  </div>
  <div class="col-12 col-md-9 margin-60">
  <p>Опыт в сфере интернет продвижения с 2015 года.</p>
  <p>Руковожу и контролирую проектные группы от 3 до 7 человек agile/scrum
    методологии (копирайтеры, дизайнеры, программисты,
    специалисты по рекламе).</p>
  <p>Создаю сайты на Wordpress и Tilda, готовлю и реализую контент стратегии,
    занимаюсь автоматизацией и аналитикой воронки продаж, поисковой
    оптимизацией, контекстной и таргетированной рекламой<p>
  <p>Обучаюсь в Яндекс Практикум на профессию python разработчик</p>
  </div>
  </div>
{% endblock %}